.swiper-pagination {
  bottom: -0.3125rem !important;
}

.swiper-pagination-bullet {
    width: 1.5rem;
    height: 0.25rem;
    background: #D0DAEE;
    opacity: 1;
    border-radius: 0.5625rem;
    margin: 0 0.0625rem !important;
  }
  
  .swiper-pagination-bullet-active {
    width: 2rem;
    height: 0.25rem;
    transition: width 0.5s;
    border-radius: 0.5625rem;
    background: #FE7E00;
  }
  